@import 'font.scss';
@import 'reset.scss';

/* BODY */

body {
    font-family: 'Rubik-Regular', serif;
    font-size: 1rem;
    line-height: 1.7;
    color: #5e5c7f;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body.dark {
    background-color: #353353;
    color: #fff;
}

/* CONTAİNER */

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media only screen and (min-width: 768px) {
    .container {
        max-width: 920px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 920px;
    }
}

@media (min-width: 1366px) {
    .container {
        max-width: 1080px;
    }
}

/* SECTION */

section {
    display: flex;
    height: 100vh;
    min-height: 100vh;
    align-items: center;

    @media only screen and (max-width: 768px) {
        padding: 450px 0 350px 0;
    }

    &.content {
        height: auto;
        align-items: inherit;
        padding-top: 128px;
        padding-bottom: 50px;

        @media only screen and (max-width: 768px) {
            padding-top: 168px;
        }

        h2.title {
            position: relative;
            padding-bottom: 2rem;
            font-family: 'Rubik-Medium', serif;
            font-size: 32px;
            margin-left: 14px;

            @media only screen and (max-width: 768px) {
                font-size: 26px;
            }

            &:before {
                content: '';
                display: block;
                width: 37px;
                height: 37px;
                left: -15px;
                top: -10px;
                position: absolute;
                background: url('/dots-bg-light.svg');
            }
        }

        p.info {
            margin-bottom: 3rem;
            font-size: 1.1rem;
        }
    }
}
