<template>
    <Layout>
        <section class="content">
            <div class="container">
                <h2 class="title">Çalışmalar</h2>
                <p class="info">
                    En son çalıştığım şirkette
                    <b>back-end</b> ağırlıklı olarak çalıştım, bu yüzden paylaşabileceğim bir web sitesi yok. Burda daha
                    önceki çalıştığım ajans şirketinde yaptığım projelerin birkaçını sergiliyorum. Bu projelerin
                    haricinde onlarca <b>kurumsal</b> ve
                    <b>özel web sitesi, e-ticaret, haber ve network marketing, turizm</b> altyapıları hazırlığı ve
                    geliştirmesi ile ilgili çalışmalar yaptım.
                    <span style="font-style: italic"
                        >Daha fazla bilgi almak ve projeni benimle hayata geçirmek için
                        <g-link to="/iletisim/">iletişim</g-link> sayfasını kullanabilirsin.</span
                    >
                </p>
                <div class="works">
                    <div class="work">
                        <a><b>Vidoport</b>, Online Eğitim Portalı</a>
                        <span>Tasarım & Yazılım & Geliştirme / Mart 2015 - Ocak 2021</span>
                        <p>
                            Udemy, Lynda, Vidobu gibi online eğitim hizmeti veren platformlara benzer bir yapıda
                            kullanıcılarına hizmet veriyor. İçerisinde diğer platformlara göre daha gelişmiş özellikler
                            sunarak hem öğrencilere hem de eğitmenlere farklı bir deneyim yaşatıyor.
                        </p>
                    </div>
                    <div class="work">
                        <a><b>Real Broker</b>, Emlak Portalı</a>
                        <span>Yazılım & Geliştirme / Ocak 2020 - Mart 2020</span>
                        <p>
                            Sahibinden.com emlak alt yapısının baz alındığı, özel bir firmaya ait emlak ilanlarının
                            sergilendiği ve içerisinde geniș bir ilan yönetim portföyü sunan, ekstra olarak da bayilik
                            altyapısı da eklenmiş bir portal.
                        </p>
                    </div>
                    <div class="work">
                        <a><b>Otokontrol</b>, Araç Ekspertiz Sistemi</a>
                        <span>Yazılım & Geliştirme / Haziran 2018 - Şubat 2020</span>
                        <p>
                            Bir araç ekspertiz firmasının uyguladığı tüm işlem adımlarını tablet ve pc üzerinden sisteme
                            aktarıp işlemler sonlandığı zaman çıkan raporu sistem üzerinden alıp müşteriye sunar.
                            İçerisinde müşteri talep ekranı, ekspertiz rapor sonucu sms ve e-posta bilgilendirmesi gibi
                            farklı hizmetlerde veriyor.
                        </p>
                    </div>
                    <div class="work">
                        <a><b>Namlı Truzim</b>, CRM & Ön Muhasebe Otomasyonu</a>
                        <span>Yazılım & Geliştirme / Temmuz 2019 - Aralık 2019</span>
                        <p>
                            İçerisinde; öğrenci/personel aylık servis ödemeleri, güzergah fiyatlama ve yakıt/km
                            hesaplama, tașıma ücretleri, araç MTV, sigorta, vergi, ceza, bakım, personel giderleri,
                            sigorta takip, parça takip vb. ișlemler ve ön muhasebe de bulunan bir sistem.
                        </p>
                    </div>
                    <div class="work">
                        <a><b>Kukuroğlu</b>, İplik Üretim Takip Sistemi (Otomasyon)</a>
                        <span>Yazılım & Geliştirme / Haziran 2019 - Ekim 2019</span>
                        <p>
                            Bir tekstil fabrikasında bulunan iplik üretim bandlarının sistem takip ve yönetimini
                            sağlamak için kullanılan, kapalı devre olarak çalışan bir sistem.
                        </p>
                    </div>
                    <div class="work">
                        <a><b>Anademir</b>, İnșaat Takip Otomasyonu</a>
                        <span>Yazılım & Geliştirme / Ocak 2019 - Nisan 2019</span>
                        <p>
                            İnșaat firmasının projede ki tüm süreçleri; personel, malzeme takibi, çalıșma süreleri, iș
                            takibi yapabileceği, stok ve tedarik etme gibi özellikleri bulunan bir otomasyon alt yapısı
                            sunuyor.
                        </p>
                    </div>
                    <div class="work">
                        <a><b>Sorunneydi</b>, Hizmet Portalı</a>
                        <span>Tasarım & Yazılım & Geliştirme / Mayıs 2018 - Eylül 2019</span>
                        <p>
                            Armut.com benzeri bir altyapısı ile farklı kategoride hizmet sunan firmaları tek bir çatı
                            altında toplayarak Türkiye geneli hizmet veren online bir sistem.
                        </p>
                    </div>
                    <div class="work">
                        <a><b>Özem</b>, Zeytin Yağı Sıkım Takip Sistemi (Otomasyon)</a>
                        <span>Yazılım & Geliştirme / Ocak 2018 - Mayıs 2018</span>
                        <p>
                            Fabrikadaki üretim bandını online sisteme aktararak bir zeytinyağının olușumunu ișleyen; mal
                            giriși, tedarikçi giriși, tarla bilgileri, hava durumu bilgileri, sıkım, bekletme, șișeleme,
                            paketleme vb. raporların ve ișlemlerin yürütüldüğü sistem.
                        </p>
                    </div>
                    <div class="work">
                        <a><b>Parçatalebi</b>, Hizmet Portalı</a>
                        <span>Yazılım & Geliştirme / Haziran 2017 - Ekim 2017</span>
                        <p>
                            Armut.com mantığında çalışan fakat sadece araba parçalarına ait hizmet desteği veren bir
                            yazılım otomasyonu. Hizmet veren firma kendine ait marka ve kategori seçerek gelen isteklere
                            talep oluşturabilmekte ve kullanıcı ile birebir iletişime geçmekte.
                        </p>
                    </div>
                    <div class="work">
                        <a><b>Bilisim.tv</b>, Online Eğitim</a>
                        <span>Tasarım & Yazılım & Geliştirme / Mart 2016 - Mart 2017</span>
                        <p>
                            Vidobu gibi online eğitim hizmeti veren platforma benzer bir yapıda kullanıcılarına ve
                            firmalara özel eğitim hizmeti sağlıyor.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </Layout>
</template>

<static-query>
query {
  metadata {
    siteUrl
  }
}
</static-query>

<script>
const title = 'Çalışmalar'
const description =
    'Bu zamana kadar farklı zaman ve teknolojiler ile yaptığım orta & büyük çaptaki projeler hakkında detaylı bir şekilde bilgi verdim.'

export default {
    metaInfo() {
        return {
            title: title,
            meta: [
                {
                    property: 'og:title',
                    content: title
                },
                {
                    property: 'og:description',
                    content: description
                },
                {
                    property: 'og:url',
                    content: this.$static.metadata.siteUrl + '/calismalar/'
                },
                {
                    name: 'twitter:title',
                    content: title
                },
                {
                    name: 'twitter:description',
                    content: description
                },
                {
                    name: 'title',
                    content: title
                },
                {
                    name: 'description',
                    content: description
                },
                {
                    itemprop: 'name',
                    content: title
                },
                {
                    itemprop: 'description',
                    content: description
                }
            ]
        }
    }
}
</script>

<style lang="scss" scoped>
p.info a {
    color: #ffd15c;
}

.works {
    display: flex;
    flex-direction: column;
    counter-reset: list-number;

    .work {
        display: block;
        position: relative;
        padding-left: 70px;

        &::before {
            counter-increment: list-number;
            content: counter(list-number);
            position: absolute;
            left: 0;
            top: 10px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 42px;
            height: 42px;
            font-family: 'Rubik-Bold', serif;
            font-size: 1.2rem;
            background-color: #ffd15c;
            border-radius: 50%;
            color: #fff;
        }

        &:not(:last-child) {
            margin-bottom: 3rem;
        }

        a {
            display: block;
            font-size: 1.1rem;

            b {
                font-size: 1.5rem;
            }

            &:hover {
                color: #ffd15c;
            }
        }

        span {
            display: block;
            margin-bottom: 1rem;
            color: #8b88b1;
        }
    }
}
</style>
