<template>
    <Layout>
        <section class="content">
            <div class="container">
                <h2 class="title">Deneyimler</h2>
                <p class="info">
                    <b>+{{ workYear }}</b> yıllık meslek hayatımın başlangıçından - sonuna doğru, görev aldığım
                    pozisyonlar, yaptığım işler ve kullandığım teknoloji / araçlar hakkında kısa kısa bilgiler vermek
                    istedim. Görev aldığım süre boyunca, bulunduğum konum ve iş ayırmaksızın her görevi layıkıyla yerine
                    getirmeye çalıştım.
                </p>
                <div class="timeline">
                    <div class="box">
                        <div class="container on m-b-20">
                            <div class="content">
                                <span class="time">12/2023 - ..., <b>İstanbul, Uzaktan</b></span>
                                <h3 class="title">EasyCep</h3>
                            </div>
                        </div>
                        <div class="container in">
                            <div class="content">
                                <p>
                                    <b>Arka-yüz (Back-end) Takım Lideri</b> <br /><span class="date"
                                        >Haziran 2024 – ...</span
                                    >
                                </p>
                                <p>
                                    EasyCep Global<br />
                                    Yeni bir e-ticaret alt yapısının hazırlanması ve yönetilmesi ile ilgileniyorum.<br /><br />
                                    EayCep Express <br />
                                    Bayilerin kolay ve hızlı satın alım yapabileceği bir alt yapı hazırladık.
                                </p>
                                <p class="tech-stack">
                                    (#Symfony 6, #Laravel 10, #Api Platform, #Docker, #RabbitMQ, #Aws, #MeiliSearch,
                                    #PostgreSQL, #MySQL, #Redis ..)
                                </p>
                            </div>
                        </div>
                        <span class="line"></span>
                        <div class="container in">
                            <div class="content">
                                <p>
                                    <b>Kıdemli PHP Geliştirici</b> <br /><span class="date"
                                        >Aralık 2023 – Mayıs 2024</span
                                    >
                                </p>
                                <p>
                                    EasyCep & EasyCep Garaj <br />
                                    E-ticaret sisteminin bakımının sağlanması ve yeni özellikler kazanması ile
                                    ilgileniyorum. Servislerde bulunan legacy code'ları refactor ederek maintainable
                                    özellik kazandırıyorum.
                                </p>
                                <p class="tech-stack">
                                    (#Phalcon 4, #MySQL, #RabbitMQ, #Docker, #Javascript, #Redis, #Aws, #MeiliSearch ..)
                                </p>
                            </div>
                        </div>
                        <span class="line"></span>
                    </div>
                    <div class="box">
                        <div class="container off m-b-20">
                            <div class="content">
                                <span class="time">10/2020 - 05/2023, <b>İstanbul, Uzaktan</b></span>
                                <h3 class="title l">Modanisa</h3>
                                , Yazılım Geliştirme Uzmanı
                                <p>
                                    Firma bünyesinde kapalı devre çalışan depo yönetimi, internal MarketPlace ve
                                    external MarketPlace projelerinde görev aldım. Marketplace projesinde pl, non-pl
                                    ürünlerin satış, stok, kargo vb. işlemlerin servisler üzerinden yürütülmesi, non-pl
                                    firmalardan gelen isteklerin karşılanması ve mevcut servislere yeni özellikler
                                    eklenmesi ile ilgilendim.
                                </p>
                                <p class="tech-stack">
                                    (#Pure PHP, #Codeigniter, #Symfony, #MySQL, #CSS, #RabbitMQ, #Memcache, #Docker,
                                    #Javascript, #Redis ..)
                                </p>
                            </div>
                        </div>
                        <span class="line"></span>
                    </div>
                    <div class="box">
                        <div class="container off m-b-20">
                            <div class="content">
                                <span class="time">09/2012 – 08/2020, <b>Denizli, İş yerinde</b></span>
                                <b class="title m">Hașem Bilgi Teknolojileri</b>
                            </div>
                        </div>
                        <div class="container in">
                            <div class="content">
                                <p>
                                    <b>Kıdemli Yazılım Geliştirici</b> <br /><span class="date"
                                        >Haziran 2019 – Ağustos 2020</span
                                    >
                                </p>
                                <p>
                                    Ağırlıklı olarak front-end teknolojileri üzerinde araştırma, uygulama, proje
                                    geliştirme ve yeni teknolojiler hakkında arge çalışmalarını yürütme görevinde
                                    bulundum. Ayriyeten ekip içi liderlik yapma, eğitim seminerlerine katılma ve şirket
                                    içi yeni teknolojiler konusunda personele eğitim verme üzerine görev aldım.
                                </p>
                                <p class="tech-stack">
                                    (#Pure PHP, #Codeigniter, #Laravel, #Symfony, #MySQL, #Vue, #React, #NextJs,
                                    #Gridsome, #CSS, #Sass ..)
                                </p>
                            </div>
                        </div>
                        <div class="container in">
                            <div class="content">
                                <p>
                                    <b>Kıdemli PHP Programcı</b> <br /><span class="date"
                                        >Haziran 2017 – Haziran 2019</span
                                    >
                                </p>
                                <p>
                                    PHP frameworkleri ve güncel yazılım teknolojilerini kullanarak; E-Ticaret, CRM &
                                    CMS, Network Marketing ve Haber yazılımları sistemlerine ait alt yapı hazırlama,
                                    paket haline getirme, geliştirme ve son kullanıcıya sunumunu organize ettim.
                                </p>
                                <p class="tech-stack">
                                    (#Pure PHP, #Codeigniter, #Laravel, #MySQL, #CSS, #Jquery, #Photoshop ..)
                                </p>
                            </div>
                        </div>
                        <div class="container in">
                            <div class="content">
                                <p>
                                    <b>PHP Geliştirici</b> <br /><span class="date">Haziran 2015 – Haziran 2017</span>
                                </p>
                                <p>
                                    PHP ile yazılan özel, kurumsal sitelerin geliştirilmesi yeni versiyonlara geçiş
                                    işlemlerini hazırladım. E-Ticaret sistemlerine modül, banka ve kargo entegrasyon
                                    işlemlerini yaptım.
                                </p>
                                <p class="tech-stack">(#Pure PHP, #Codeigniter, #MySQL, #CSS, #Jquery, #Photoshop)</p>
                            </div>
                        </div>
                        <div class="container in">
                            <div class="content">
                                <p>
                                    <b>PHP Web Geliştirici</b> <br /><span class="date"
                                        >Haziran 2013 – Haziran 2015</span
                                    >
                                </p>
                                <p>
                                    Pure PHP ile hazırlanmış kurumsal web sayfaları hazırlama, tasarımsal ve yazılımsal
                                    geliştirmeler üzerine çalıştım. Şirket içi kullanılan panelin yeni versiyona geçirme
                                    ve oluşabilecek yazılımsal zafiyetleri kapatmaya yönelik çalışmalar yaptım.
                                </p>
                                <p class="tech-stack">(#Pure PHP, #OOP, #MySQL, #CSS, #Jquery, #Photoshop)</p>
                            </div>
                        </div>
                        <div class="container in">
                            <div class="content">
                                <p><b>Stajyer</b> <br /><span class="date">Eylül 2012 – Haziran 2013</span></p>
                                <p>
                                    Php ile hazırlanmıș basit web sayfalarını oluşturma, içerik yönetim ekranı hazırlama
                                    ve görsel düzenlemeler yaptım. Pure PHP yazılan panellerde sql-injection açıklarını
                                    kapattım.
                                </p>
                                <p class="tech-stack">(#Pure PHP, #MySQL, #CSS, #Photoshop)</p>
                            </div>
                        </div>
                        <span class="line"></span>
                    </div>
                    <div class="box">
                        <div class="container off m-b-20">
                            <div class="content">
                                <span class="time">01/2010 - 08/2012, <b>Denizli</b></span>
                                <h3 class="title l">Serbest çalışan</h3>
                                , Web Geliştirici
                                <p>
                                    Blogger sayfalar için tema geliştirme, Wordpress sistemler için plugin yazma ve tema
                                    oluşturma, blog sayfam ve oyun siteleri için seo çalışmaları, kurumsal ve özel web
                                    sayfalarının tasarlanması ve panele geçirilmesi.
                                </p>
                                <p class="tech-stack">
                                    (#Pure PHP, #Blogger, #Wordpress, #MySQL, #CSS, #Jquery, #Photoshop, #Seo ..)
                                </p>
                            </div>
                        </div>
                        <span class="line"></span>
                    </div>
                </div>
            </div>
        </section>
    </Layout>
</template>

<static-query>
query {
  metadata {
    siteUrl
  }
}
</static-query>

<script>
const title = 'Deneyimler'
const description =
    'Yaklaşık 15 yıllık meslek hayatı boyunca çalıştığı firmalar, görev aldığı pozisyonlar, yaptığı işlerin detayları ve kullandığı teknolojiler hakkında küçük bir bilgi paylaşıyor.'

export default {
    data: () => ({
        workYear: new Date().getFullYear() - 2009
    }),
    metaInfo() {
        return {
            title: title,
            meta: [
                {
                    property: 'og:title',
                    content: title
                },
                {
                    property: 'og:description',
                    content: description
                },
                {
                    property: 'og:url',
                    content: this.$static.metadata.siteUrl + '/deneyimler/'
                },
                {
                    name: 'twitter:title',
                    content: title
                },
                {
                    name: 'twitter:description',
                    content: description
                },
                {
                    name: 'title',
                    content: title
                },
                {
                    name: 'description',
                    content: description
                },
                {
                    itemprop: 'name',
                    content: title
                },
                {
                    itemprop: 'description',
                    content: description
                }
            ]
        }
    }
}
</script>

<style lang="scss" scoped>
.timeline {
    display: flex;
    flex-direction: column;

    .box {
        position: relative;
        width: 100%;
        padding: 30px;
        background-color: #302f4e;
        border-radius: 20px;
        -webkit-box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
        box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);

        &:not(:last-child) {
            margin-bottom: 2rem;
        }

        .container {
            position: relative;
            padding-left: 50px;
            margin-bottom: 50px;

            .content {
                display: block;

                .time {
                    display: block;
                    color: #8b88b1;
                    font-size: 14px;

                    b {
                        color: #ffd15c;
                    }
                }

                h3.title,
                b.title {
                    display: inline-block;
                    font-family: 'Rubik-Medium', serif;
                    font-size: 20px;
                    margin: 10px 0;

                    &.m {
                        font-size: 16px !important;
                    }

                    &.l {
                        font-size: 18px !important;
                    }
                }

                span.date {
                    font-style: italic;
                }

                .tech-stack {
                    margin-top: 1rem;
                    color: #717087;
                }

                p:nth-child(1) {
                    margin-bottom: 1.5rem;
                }
            }

            &::after {
                position: absolute;
                left: -12px;
                top: 0;
                background-color: #302f4e;
                text-align: center;
                font-size: 24px;
                color: #ffd15c;
                z-index: 1;
            }

            &.on::after {
                content: '🤩';
                left: -7px;
            }

            &.off::after {
                content: '👋';
            }

            &.in::after {
                content: '🎉';
                left: -5px;
            }

            &.m-b-20 {
                margin-bottom: 20px;
            }
        }

        span.line {
            position: absolute;
            width: 1px;
            background-color: #ffd15c;
            top: 30px;
            bottom: 30px;
            left: 34px;
        }
    }
}
</style>
