<template>
    <Layout>
        <section class="content">
            <div class="container">
                <h2 class="title">Hakkımda</h2>
                <div class="me">
                    <div class="profile">
                        <g-image src="~/assets/profile-2.jpg" width="1050" alt="Samandağ/Arsuz/HATAY Deniz Kıyısı" />
                    </div>
                    <div style="font-size: 1.1rem">
                        Merhaba, ben <strong>Yunus Emre</strong>. Fotoğrafta gördüğün diğer kişi de eşim
                        <strong>Havva</strong>.
                        <br />
                        <br />
                        Sıcak bir yaz günü sabahı, takvimler Haziran 1995'i gösterdiğinde, Hatay'ın Yayladağı ilçesinde
                        dünyaya geldim. Ben daha çok küçükken önce Tavas'a, ardından da merkez kente gelmişiz ve
                        yaklaşık {{ lifeYear }} senedir Denizli'de yaşıyorum. Denizli'ye geliş hikayemiz aslında
                        herkesin memleketinden neden ayrıldığı ile benzer sebepten ötürü (iş, ekmek davası).
                        <br />
                        <br />
                        <div style="border: 3px dashed #4a4865; padding: 15px; border-radius: 10px; text-align: center">
                            <span style="font-style: italic"
                                >Burada anlattıklarım ve anlatacaklarım asla <b>demagoji</b> değildir!, bizzat yaşadığım
                                <b>HAYAT HİKAYEM</b>'dir. <br />Bunları burada yazmamda ki asıl sebep: buraya kolay
                                yollardan gelmediğimi, hangi şartlar altında yoluma devam ettiğimi, içinde bulunduğum
                                dünyayı gözler önüne sererek bu ve buna benzer hayatı yaşıyorsan; <br />sende kendine
                                göre güzel bir yol çizebilirsin.
                            </span>
                        </div>
                        <br />
                        Geliri iyi bir ailenin çocuğu olarak dünyaya gelmedim. Bu yüzden hayata hep bir adım geriden
                        başladım. Bu adım, okuduğum okuldan, aldığım eğitime, yediğim yemekten, giydiğim elbiseye,
                        yaşadığım hayattan, konuşma becerime kadar etkisi olan bir şey. Bu bahsettiğim şeyler biraz
                        havada kalabilir, belki de biraz uçuk gelebilir ama bu hayatı yaşamadan da kimsenin anlaması pek
                        mümkün değil. Burda daha fazla detaya da girebilirdim ama yaşanan yaşandığı yerde kalsın
                        istiyorum ama hiçbir zaman da geldiğim yeri unutmuyorum.
                        <br />
                        <br />
                        Çocukluğum gözümün önüne geldiğinde hiç de kolay geçmediğini, kendimi gençlik çağlarıma kadar
                        sanayi bölgesinde ve
                        <b>Marmara depremi</b>ni atlatmış metruk sayılabilecek bir evde geçtiğini hatırlıyorum. Tek
                        eğlendiğim zamanlarsa okuldan arta kalan zamanlardı; sokakta bilye, sporcu kartları, mahalle
                        maçları, kavgalar ve koşuşturmalar arasında geçtiğini anımsıyorum o kadar.. Başka küçük bir
                        eğlencemiz ise: her pazar günü oturduğumuz eve çok yakın konumda bulunan mahalle parkında
                        yaptığımız tek kale maçlar.
                        <br />
                        <br />
                        Çocukluğumdan beri sokaklardayım, küçük yaşlarda oyun ama 6 - 7 yaşlarına geldiğimde aileye
                        destek olmak için; akşamları ve hafta sonları evin hemen üstünde bulunan başka bir sanayi
                        bölgesinde, Denizli'nin meşhur <b>Bayramyeri</b>'nde karton, teneke ve hurda toplamakla geçti.
                        <br />
                        <br />
                        İlkokul, Ortaokul ve lise eğitim-öğretim hayatım boyunca çok fazla takdir, teşekkür ve onur
                        belgesi aldım. Asla yaşadığım hayatın zorluğuna, pisliğine ve kötülüğüne kapılıp o karanlık
                        yolun yolcusu olmayı seçmedim!. Çocukluğum da öğretmenin büyüyünce sen ne olmak istiyorsun?
                        sorusuna ben hep "Bilgisiyar Mühendis"'i olmak istiyorum diye cevap veriyordum. Bu hayalimin ilk
                        adımını lise tercihlerinde Meslek okulu "Bilişim" bölümünü, alan seçimlerine geldiğimizde de
                        "Web Tasarım ve Programlama" dalını seçtim.
                        <br /><br />
                        Liseden mezun olduktan sonra üniversite hayatıma 2. öğretim olarak başlama kararı aldım ve
                        sınavsız geçiş hakkımı kullanarak "Bilgisiyar Programcılığı" bölümüne yazıldım. Üniversite
                        hayatım boyunca staj için girdiğim firmadan ayrılmayarak mesleğime devam ettim (17:00 ders
                        zamanı) ve buradan da sınıf ikincisi ve Onur belgesi alarak mezun oldum. (DGS denedim olmadı)
                        Daha sonraları istemeyerek de olsa sektörde kalmak ve kendimi daha fazla geliştirmek için
                        Eskişehir Anadolu Ünivsersitesi "Kamu Yönetimi" bölümünü (uzaktan) yine iyi bir derece ile
                        bitirerek eğitim-öğretim hayatımı tamamladım.
                        <br /><br />
                        Bu geçen süre boyunca; çok fazla ter, kan ve göz yaşı akıttım.. hep bir fazlası için çok
                        çalıştım ve çabaladım. Her zaman yaptığım iş ile alakalı olmasa da, sektörde gün güne trend olan
                        teknolojileri yakından takip ettim ve uygulamaya çalıştım. Ama! hiçbir zaman hele ki bu sektörde
                        son diye birşeyin olmadığını ve her zaman kendini güncel tutmak zorunda olduğunu bildim.
                        Hayattan hep dersler çıkardım ve çok fazla dersler aldım. Halen kendimi geliştirmek için çok
                        fazla çabalıyorum ve çok fazla eksiğim olduğunu biliyorum. Bu yüzden işten arta kalan vakitte ve
                        hafta sonları sürekli bilgisayar başındayım. Benim için bu meslek uzun bir yarış maratonu ve
                        benim de hiç pes etmeye niyetim yok!
                        <br />
                        <br />
                        Hedeflerim ve hayallerim var, aslında herkesin de olması lazım bu hayatta. Hedeflerimin arasında
                        büyük bir firmada çalışmak, kalabalık bir ekipte görev almak ve güzel bir ürün ortaya çıkarmak
                        istiyordum. Çoğu zaman artık Denizli'de alabileceğim bilgi, yapabileceğim iş, çıkabileceğim
                        seviye bu kadar diyordum kendi kendime.
                        <br />
                        <br />
                        <span style="color: #c2c2ca">
                            <p style="padding-bottom: 10px">
                                Hedeflerim için devam ettiğim bu yolda, bir anda her şey tersine gitti ve kendimi çıkmaz
                                bir yolda buldum... <b>(1)</b>
                            </p>
                            <b>Ne zaman mı?</b> tam da pandemi döneminde, hiç de beklemediğim bir anda ve şekilde.
                            <br />
                            ... Haksızlık
                        </span>
                        <br />
                        <br />Bu süreç sonrasında hemen iş arayışına başladım, Linkedin ve diğer platformlar üzerinden
                        yaptığım iş görüşmeleri neticesinde hedeflerimin ikisini (büyük bir firma ve takım ile çalışma)
                        gerçekleştirdim ve remote olarak Modanisa şirketinde 3 yıla yakın bir süre boyunca
                        <strong>yazılım geliştirme uzmanı</strong> pozisyonunda çalıştım.
                        <br />
                        <br />
                        <span style="color: #c2c2ca">
                            <p style="padding-bottom: 10px">
                                Hedeflerim için devam ettiğim bu yolda, yeniden bir anda her şey tersine gitti ve
                                kendimi yine çıkmaz bir yolda buldum... <b>(2)</b>
                            </p>
                            <b>Ne zaman mı?</b> tam da askere gideceğim zamanda, hiç de beklemediğim bir anda.<br />
                            ... Layoff
                        </span>
                        <br />
                        <br />
                        Şimdi tekrar yeni yerlere yelken açma zamanı geldi ve bunun için eskisinden daha güçlü ve
                        heyecanlıyım. Hayatta hep çıkışlar olacak değil, bazen de inişler olduğunu biliyorum, bu yüzden
                        ayakta kalmaya ve şansımı denemeye devam edeceğim. Hayat hiç beklemediğiniz anda karşınıza çok
                        güzel şeyler ile çıkabiliyor, sen yeterki çaba göster <b>diyordum</b>..
                        <br />
                        <br />
                        <span style="color: #c2c2ca"> ... Çok zordu </span>
                        <br />
                        <br />
                        Askerlik sürecim sonrasında tekrar iş arayışına başladım, Linkedin ve diğer platformlar
                        üzerinden yaptığım iş görüşmeleri neticesinde remote olarak
                        <span style="color: #ffd15c">#EasyCep</span> şirketinde {{ getOperationTime }}
                        <strong>back-end takım lideri</strong> pozisyonunda çalışıyorum.
                        <br />
                        <br />
                        <span style="font-style: italic"># Hayattaki mottom : <b>Just do it!</b></span>
                        <br />
                        <br />
                        <strong
                            >~ ~ ~ Albert Einstein : “Takdir ediliyorsan değil, taklit ediliyorsan başarmışsın
                            demektir.”</strong
                        >
                    </div>
                </div>
            </div>
        </section>
    </Layout>
</template>

<static-query>
query {
  metadata {
    siteUrl
  }
}
</static-query>

<script>
const title = 'Hakkımda'
const description =
    'Yunus Emre MERT kim?, nerelerden nasıl geldi?, neler yaşadı?, neler yapar?, nerede yaşar?, şimdi ne yapıyor? ve neleri hedefliyor? gibi soruların cevaplarını açıklıyor.'
const image = '/kapak.jpg'

export default {
    data: () => ({
        lifeYear: new Date().getFullYear() - 1998
    }),
    metaInfo() {
        return {
            title: title,
            meta: [
                {
                    property: 'og:title',
                    content: title
                },
                {
                    property: 'og:description',
                    content: description
                },
                {
                    property: 'og:url',
                    content: this.$static.metadata.siteUrl + '/hakkimda/'
                },
                {
                    property: 'og:image',
                    content: this.$static.metadata.siteUrl + image
                },
                {
                    property: 'og:image:secure_url',
                    content: this.$static.metadata.siteUrl + image
                },
                {
                    property: 'og:image:type',
                    content: 'image/jpeg'
                },
                {
                    property: 'og:image:width',
                    content: '1920'
                },
                {
                    property: 'og:image:height',
                    content: '1440'
                },
                {
                    property: 'og:image:alt',
                    content: 'Samandağ/Arsuz/HATAY Deniz Kıyısı'
                },
                {
                    name: 'twitter:title',
                    content: title
                },
                {
                    name: 'twitter:description',
                    content: description
                },
                {
                    name: 'twitter:image',
                    content: this.$static.metadata.siteUrl + image
                },
                {
                    name: 'title',
                    content: title
                },
                {
                    name: 'description',
                    content: description
                },
                {
                    itemprop: 'name',
                    content: title
                },
                {
                    itemprop: 'description',
                    content: description
                },
                {
                    itemprop: 'image',
                    content: this.$static.metadata.siteUrl + image
                }
            ]
        }
    },
    computed: {
        getOperationTime: function () {
            const currentDate = new Date()
            const workDate = new Date('December 2023')

            const year = currentDate.getFullYear() - workDate.getFullYear()
            let month = currentDate.getMonth() - workDate.getMonth() + 1

            month = month < 0 ? month + 12 : month

            if (currentDate.getFullYear() === workDate.getFullYear() || (year === 1 && month < 0)) {
                return (month === 0 ? 1 : month) + ' aydır'
            } else {
                const workTime = year - 1

                if (!workTime) {
                    return month + ' aydır'
                }

                return month ? workTime + ' yıl ' + month + ' aydır' : workTime + ' yıldır'
            }
        }
    }
}
</script>

<style lang="scss" scoped>
.me {
    display: flex;
    flex-direction: column;

    .profile {
        height: 400px;
        margin-bottom: 2rem;
        border-radius: 10px;
        overflow: hidden;

        img {
            height: 100%;
            border-radius: 10px;
            object-fit: cover;
            object-position: 0 -120px;
        }

        @media (min-width: 921px) and (max-width: 1366px) {
            img {
                object-position: 0 0;
            }
        }

        @media (max-width: 920px) {
            height: 200px;

            img {
                object-position: 0 0;
            }
        }
    }
}
</style>
