<template>
    <Layout>
        <section class="content">
            <div class="container">
                <h2 class="title">Hizmetler</h2>
                <p class="info">
                    <strong>Denizli</strong> de bulunduğum süre boyunca
                    <strong>Web Tasarım & Web Yazılım</strong> alanında çok fazla iş çıkardım, onlarca
                    <em>web sitesi</em> ve <em>özel yazılım</em> projelerinde görev aldım. Çok yakın zamanda
                    <strong>mobil uygulama</strong> alanında ki açığımı da kapatarak kendime yeni bir serüven hazırlamak
                    istiyorum, bu sayede mesleğimde ki her alana bir nevi hakim olmuş olacağım.
                </p>
                <div class="services">
                    <div class="year">
                        <div class="counter">
                            <span>15</span>
                            <sup>+</sup>
                        </div>
                        <h6>Yıllık <br />Çalışma <br />Deneyimi</h6>
                    </div>
                    <div>
                        <h4>
                            <span>Web Tasarım, Web Yazılım ve Özel Yazılımlarda</span> uzmanlaşmış, Sistem ve Yazılım
                            Geliştirme Uzmanı.
                        </h4>
                        <div class="service">
                            <div>
                                <h5>Web Tasarım</h5>
                                <p>
                                    Kişisel, özel veya kurumsal sitenize ait marka bilinirliğinizi yansıtacak şekilde
                                    grafik ve ön-yüz çalışması.
                                </p>
                            </div>
                            <div>
                                <h5>Web Yazılım</h5>
                                <p>
                                    Kurum içi veya kişisel projelerinize uygun bir altyapı ve hizmet sunarak, işlerinizi
                                    daha hızlı ve güvenilir bir şekilde online açma işlemi. (CRM & CMS)
                                </p>
                            </div>
                            <div>
                                <h5>E-Ticaret</h5>
                                <p>
                                    İşyerinize ve size uygun çözümler sunarak, online pazara hitap edecek şekilde
                                    sisteminizin alt yapı çalışması ve yazılımı. <b>(Marketplace entegrasyonu)</b>
                                </p>
                            </div>
                            <div>
                                <h5>Özel Yazılım</h5>
                                <p>
                                    Şirket içi veya özel sektörde yer alan işlerinize, bulut çözümler sayesinde, işinizi
                                    ve markanızı globale taşımaya yardımcı oluyorum.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </Layout>
</template>

<static-query>
query {
  metadata {
    siteUrl
  }
}
</static-query>

<script>
const title = 'Hizmetler'
const description =
    '15+ yıldır Denizli de Web tasarım & Web yazılım alanında verdiğim hizmetler hakkında bilgiler. Denizli Web Tasarım & Web Yazılım hizmeti veren yarı zamanlı bir freelance.'

export default {
    metaInfo() {
        return {
            title: title,
            meta: [
                {
                    property: 'og:title',
                    content: title
                },
                {
                    property: 'og:description',
                    content: description
                },
                {
                    property: 'og:url',
                    content: this.$static.metadata.siteUrl + '/hizmetler/'
                },
                {
                    name: 'twitter:title',
                    content: title
                },
                {
                    name: 'twitter:description',
                    content: description
                },
                {
                    name: 'title',
                    content: title
                },
                {
                    name: 'description',
                    content: description
                },
                {
                    itemprop: 'name',
                    content: title
                },
                {
                    itemprop: 'description',
                    content: description
                }
            ]
        }
    }
}
</script>

<style lang="scss" scoped>
.services {
    display: flex;

    @media (max-width: 768px) {
        flex-direction: column;

        .year {
            margin-right: 0;
            display: none;
        }
    }

    .year {
        margin-right: 100px;

        .counter {
            display: flex;
            margin-bottom: 2rem;
            font-size: 7.5rem;
            font-weight: 700;
            line-height: 1;
            color: #ffd15c;

            sup {
                font-size: 33.33%;
                vertical-align: super;
            }
        }

        h6 {
            padding-left: 1.5rem;
            font-size: 1.375rem;
        }
    }

    h4 {
        margin-bottom: 4rem;
        font-size: 2rem;
        line-height: 1.4;

        span {
            color: #ffd15c;
        }
    }

    .service {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;

        @media (max-width: 920px) {
            grid-template-columns: 1fr;
        }

        h5 {
            font-size: 1.5rem;
            margin-bottom: 1rem;
            color: #bebbec;

            &:hover {
                color: #fff;
            }
        }

        p {
            color: #8b88b1;
        }
    }
}
</style>
