<template>
    <Layout>
        <section class="content">
            <div class="container">
                <h2 class="title">İletişim</h2>
                <p class="info">
                    Merhaba, bu sayfada yer alan form üzerinden bana sormak istediğin veya iletmek istediğin bir konu
                    üzerinen ulaşabilirsin. Dilersen de aşağıda bulunan iletişim bilgilerini kullanarak, bana anında
                    ulaşabilir, sorununu veya hayalinde ki projeni konuşarak hızlıca çözüme kavuşturabilirim. Görüşmek
                    üzere, sağlıcakla kal.
                </p>
                <div class="contact">
                    <div class="form">
                        <form
                            id="fs-frm"
                            name="simple-contact-form"
                            accept-charset="utf-8"
                            action="https://formspree.io/f/mzbypbvp"
                            method="POST"
                            autocomplete="off"
                            @submit="checkForm"
                        >
                            <fieldset id="fs-frm-inputs">
                                <label for="full-name">Adınız & Soyadınız</label>
                                <input type="text" name="name" id="full-name" placeholder="Ad & Soyad" required="" />
                                <label for="email-address">E-Posta Adresiniz</label>
                                <input
                                    type="email"
                                    name="_replyto"
                                    id="email-address"
                                    placeholder="e-posta@domain.com"
                                    required=""
                                />
                                <label for="message">Mesajınız</label>
                                <textarea
                                    rows="7"
                                    name="message"
                                    id="message"
                                    placeholder="Merhaba, bana iletmek istediğiniz mesajı yazabilirsiniz."
                                    required=""
                                ></textarea>
                                <input type="hidden" name="_subject" id="email-subject" value="İletişim Formu" />
                            </fieldset>
                            <button id="fs-frm-button">Mesajı Gönder</button>
                        </form>
                        <p id="fs-frm-status"></p>
                    </div>
                    <div class="info">
                        <ul>
                            <li>
                                <span>Telefon No</span>
                                <a class="href" href="tel:05358546543">+90 535 854 65-43</a>
                            </li>
                            <li>
                                <span>E-Posta</span>
                                <a class="href" href="mailto:yunusemremert@yandex.com?subject=İletişim Formu"
                                    >yunusemremert@yandex.com</a
                                >
                            </li>
                            <li>
                                <span>Adres</span>
                                <a>Merkezefendi, DENİZLİ</a>
                            </li>
                            <li>
                                <span>Whatsapp</span>
                                <a class="href" href="https://wa.me/905358546543" target="_blank"
                                    ><Whatsapp />+90 535 854 65-43</a
                                >
                            </li>
                            <li>
                                <span>Skype</span>
                                <a class="href" href="skype:b1d74684f8c92e3b?chat" target="_blank"
                                    ><Skype />b1d74684f8c92e3b</a
                                >
                            </li>
                            <li>
                                <span>Telegram</span>
                                <a class="href" href="https://telegram.me/yunusemremert" target="_blank"
                                    ><Telegram />yunusemremert</a
                                >
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </Layout>
</template>

<static-query>
query {
  metadata {
    siteUrl
  }
}
</static-query>

<script>
import Whatsapp from '~/assets/icons/social/whatsapp.svg'
import Skype from '~/assets/icons/social/skype.svg'
import Telegram from '~/assets/icons/social/telegram.svg'

const title = 'İletişim'
const description = 'İletişim bilgileri ve iletişim araçları. Pamukkale / DENİZLİ'

export default {
    metaInfo() {
        return {
            title: title,
            meta: [
                {
                    property: 'og:title',
                    content: title
                },
                {
                    property: 'og:description',
                    content: description
                },
                {
                    property: 'og:url',
                    content: this.$static.metadata.siteUrl + '/iletisim/'
                },
                {
                    name: 'twitter:title',
                    content: title
                },
                {
                    name: 'twitter:description',
                    content: description
                },
                {
                    name: 'title',
                    content: title
                },
                {
                    name: 'description',
                    content: description
                },
                {
                    itemprop: 'name',
                    content: title
                },
                {
                    itemprop: 'description',
                    content: description
                }
            ]
        }
    },
    methods: {
        async checkForm(e) {
            e.preventDefault()

            const form = document.getElementById('fs-frm')
            const data = new FormData(e.target)
            const status = document.getElementById('fs-frm-status')

            const response = await fetch(e.target.action, {
                method: 'POST',
                body: data,
                headers: {
                    Accept: 'application/json'
                }
            })

            status.style.marginTop = '20px'

            if (!response.ok) {
                status.innerHTML = 'Hata! Yolunda gitmeyen birşeyler oldu.'
            } else {
                status.innerHTML = 'Teşekkürler, mesajınız başarılı bir şekilde iletildi!'

                form.reset()

                setTimeout(() => {
                    status.innerHTML = ''
                }, 2000)
            }
        }
    },
    components: {
        Whatsapp,
        Skype,
        Telegram
    }
}
</script>

<style lang="scss" scoped>
.contact {
    display: flex;

    @media (max-width: 768px) {
        flex-direction: column;

        .form {
            margin-right: 0;
            padding: 30px !important;
        }

        .info {
            margin-top: 50px;
        }
    }

    .form {
        flex: 1;
        width: 100%;
        padding: 30px;
        margin-right: 50px;
        background-color: #302f4e;
        border-radius: 20px;
        -webkit-box-shadow: 0 5px 20px 0 rgba(69, 67, 96, 0.1);
        box-shadow: 0 5px 20px 0 rgba(69, 67, 96, 0.1);

        #fs-frm {
            label {
                display: flex;
                padding-bottom: 10px;
            }

            input,
            textarea {
                width: 100%;
                margin-bottom: 20px;
                padding: 15px;
                border-radius: 5px;
            }

            button {
                position: relative;
                margin-top: 10px;
                padding: 15px 25px 15px 55px;
                background-color: #626188;
                border-radius: 8px;
                font-family: 'Rubik-Bold', serif;
                font-size: 1rem;
                color: #fff;
                -webkit-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;

                &:hover {
                    background-color: #ffd15c;
                }

                &:before {
                    content: '';
                    display: block;
                    width: 16px;
                    height: 16px;
                    left: 25px;
                    top: 18px;
                    position: absolute;
                    background: url('/send.png') no-repeat;
                }
            }
        }
    }

    .info {
        flex: 1;

        ul {
            display: flex;
            flex-direction: column;

            li {
                padding-bottom: 1.2rem;
                list-style: none;

                span {
                    padding-bottom: 10px;
                    font-family: 'Rubik-Medium', serif;
                }

                span,
                a {
                    display: flex;
                    align-items: center;
                    width: 100%;
                }

                a {
                    &:hover {
                        color: #ffd15c;

                        svg {
                            fill: #ffd15c;
                        }
                    }

                    svg {
                        width: 26px;
                        height: 26px;
                        margin-right: 15px;
                        fill: #9c9ab3;
                    }

                    &.href {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
</style>
