<template>
    <Layout>
        <section>
            <div class="container">
                <div class="intro">
                    <g-image
                        class="avatar"
                        src="~/assets/profile.jpg"
                        width="130"
                        quality="100"
                        :alt="$static.metadata.siteName + ' avatar'"
                    />
                    <div class="title">
                        &nbsp; 👋 &nbsp; Merhaba, ben;
                        <h1>{{ $static.metadata.siteName }}</h1>
                    </div>
                    <div class="info">
                        Kişisel web siteme hoş geldin.<br />Şu anda <span>#EasyCep</span>'te back-end takım lideri
                        olarak çalışıyorum.<br /><br />Benim kim olduğumu, neler yaptığımı, neleri başardığımı ve
                        Kişisel web siteme hoş geldin.
                    </div>
                    <ul class="social">
                        <li>
                            <a href="https://www.instagram.com/yemremertcode/" target="_blank"><Instagram /></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/yunusemremert" target="_blank"><Twitter /></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/yunusemremert/" target="_blank"><Linkedin /></a>
                        </li>
                        <li>
                            <a href="https://github.com/yunusemremert" target="_blank"><Github /></a>
                        </li>
                        <li>
                            <a href="https://gitlab.com/yunusemremert" target="_blank"><Gitlab /></a>
                        </li>
                        <li>
                            <a href="https://stackshare.io/yunusemremert" target="_blank"><Stackshare /></a>
                        </li>
                    </ul>
                    <a class="cv" href="/download/Yunus_Emre_MERT_CV.pdf" target="_blank">Özgeçmişim</a>
                </div>
            </div>
        </section>
    </Layout>
</template>

<static-query>
query {
  metadata {
    siteName,
    siteUrl
  }
}
</static-query>

<script>
import Instagram from '~/assets/icons/social/instagram.svg'
import Twitter from '~/assets/icons/social/twitter.svg'
import Linkedin from '~/assets/icons/social/linkedin.svg'
import Github from '~/assets/icons/social/github.svg'
import Gitlab from '~/assets/icons/social/gitlab.svg'
import Stackshare from '~/assets/icons/social/stackshare.svg'

const title = 'Yunus Emre MERT - Kıdemli Yazılım Geliştirme Uzmanı'
const description =
    "Tam zamanlı yazılım geliştirme uzmanı, eski bir blogger, kod delisi ve teknoloji meraklısı. 06.95 Hatay doğumlu, Denizli'de yaşıyor, evli ve Galatasaray aşığı. Yarı zamanlı freelance, web tasarım uzmanı ve mobil uygulama işinde Denizli'den hizmet veriyor."
const image = '/logo.jpg'

export default {
    name: 'Index',
    metaInfo() {
        return {
            titleTemplate: '%s - Kıdemli Yazılım Geliştirme Uzmanı 🇹🇷',
            meta: [
                {
                    property: 'og:title',
                    content: title
                },
                {
                    property: 'og:description',
                    content: description
                },
                {
                    property: 'og:url',
                    content: this.$static.metadata.siteUrl
                },
                {
                    property: 'og:image',
                    content: this.$static.metadata.siteUrl + image
                },
                {
                    property: 'og:image:secure_url',
                    content: this.$static.metadata.siteUrl + image
                },
                {
                    property: 'og:image:type',
                    content: 'image/jpeg'
                },
                {
                    property: 'og:image:width',
                    content: '640'
                },
                {
                    property: 'og:image:height',
                    content: '257'
                },
                {
                    property: 'og:image:alt',
                    content: 'Yunus Emre MERT logo'
                },
                {
                    name: 'twitter:title',
                    content: title
                },
                {
                    name: 'twitter:description',
                    content: description
                },
                {
                    name: 'twitter:image',
                    content: this.$static.metadata.siteUrl + image
                },
                {
                    name: 'title',
                    content: title
                },
                {
                    name: 'description',
                    content: description
                },
                {
                    itemprop: 'name',
                    content: title
                },
                {
                    itemprop: 'description',
                    content: description
                },
                {
                    itemprop: 'image',
                    content: this.$static.metadata.siteUrl + image
                }
            ]
        }
    },
    components: {
        Instagram,
        Twitter,
        Linkedin,
        Github,
        Gitlab,
        Stackshare
    }
}
</script>

<style lang="scss" scoped>
.intro {
    margin: auto;
    max-width: 540px;
    text-align: center;

    .avatar {
        border-radius: 50%;
        height: 130px;
        margin-bottom: 1.5rem;
        object-fit: cover;
        object-position: 0 0;
    }

    .title {
        margin-bottom: 1.5rem;
        font-family: 'Rubik-Medium';

        h1 {
            font-family: 'Rubik-Bold';
            font-size: 26px;
        }
    }

    .info {
        display: block;
        margin-bottom: 2.5rem;

        span {
            color: #ffd15c;
        }
    }

    .social {
        display: block;
        margin-bottom: 4rem;

        li {
            display: inline-block;

            &:not(:last-child) {
                margin-right: 2rem;
            }

            a {
                svg {
                    height: 20px;
                    fill: #fff;
                    -webkit-transition: all 0.3s ease-in-out;
                    -o-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        fill: #ffd15c;
                    }
                }
            }
        }
    }

    .cv {
        padding: 12px 32px;
        background-color: #9c9ab3;
        border-radius: 30px;
        font-family: 'Rubik-Bold';
        color: #353353;
        overflow: hidden;

        &:hover {
            background-color: #ffd15c;
            color: #fff;
        }
    }
}
</style>
