<template>
    <Layout>
        <section class="content">
            <div class="container">
                <h2 class="title">Kitaplar</h2>
                <p class="info">
                    Meslek hayatımın ilk yıllarında sektöre duyduğum öğrenme arzusu ve azmi yüzünden ve daha sonraları
                    (çok sonra 😌) okuma alışkanlığını tekrar kazanmak için aldığım; hayata bakış açımı değiştiren, beni
                    tekrar amacım için motive eden ve daha fazla hayal kurmamı sağlayan çok özel ve ender kitapları
                    seninle paylaşmak istiyorum.
                </p>
                <div class="page-title">Bilgisayar</div>
                <ul>
                    <li>
                        <a>
                            <g-image src="~/assets/books/a-dan-z-ye-php.jpeg" alt="A'dan Z'ye PHP" />
                            <span class="name">A'dan Z'ye PHP</span>
                            <span class="author">Rıza Çelik</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <g-image src="~/assets/books/t-sql.jpeg" alt="T-SQL SQL Server 2012" />
                            <span class="name">T-SQL</span>
                            <span class="author">Hamza Elbahadır</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <g-image src="~/assets/books/jquery.jpeg" alt="JQUERY" />
                            <span class="name">JQUERY</span>
                            <span class="author">Salih Baltalı</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <g-image src="~/assets/books/html-5.jpeg" alt="HTML-5" />
                            <span class="name">HTML-5</span>
                            <span class="author">İbrahim Çelikbilek</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <g-image src="~/assets/books/bootstrap.jpeg" alt="Bootstrap 3" />
                            <span class="name">Bootstrap 3</span>
                            <span class="author">Batuhan Bayır</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <g-image src="~/assets/books/uzmanindan-seo.jpeg" alt="Uzmanından SEO" />
                            <span class="name">Uzmanından SEO</span>
                            <span class="author">Kaan Gülten</span>
                        </a>
                    </li>
                </ul>
                <div class="page-title">Edebiyat</div>
                <div v-if="loading">Yükleniyor..</div>
                <ul v-else>
                    <li v-for="item in items" :key="item.book_id">
                        <a>
                            <g-image :src="item.book_image" :alt="item.book_name" />
                            <span class="name">{{ item.book_name }}</span>
                            <span class="author">{{ item.author_name }} </span>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </Layout>
</template>

<static-query>
query {
  metadata {
    siteUrl
  }
}
</static-query>

<script>
import Airtable from 'airtable'

const title = 'Kitaplar'
const description =
    'Meslek hayatının ilk yıllarında ve son zamanlarda okuma alışkanlığı kazanmak için aldığı, hayata bakış açısını değiştiren ve herkesimden insanın okumasını tavsiye edebileceği çok özel kitapların listesi yer alıyor.'

export default {
    metaInfo() {
        return {
            title: title,
            meta: [
                {
                    property: 'og:title',
                    content: title
                },
                {
                    property: 'og:description',
                    content: description
                },
                {
                    property: 'og:url',
                    content: this.$static.metadata.siteUrl + '/kitaplar/'
                },
                {
                    name: 'twitter:title',
                    content: title
                },
                {
                    name: 'twitter:description',
                    content: description
                },
                {
                    name: 'title',
                    content: title
                },
                {
                    name: 'description',
                    content: description
                },
                {
                    itemprop: 'name',
                    content: title
                },
                {
                    itemprop: 'description',
                    content: description
                }
            ]
        }
    },
    data() {
        return {
            loading: true,
            items: []
        }
    },
    methods: {
        async getBooks() {
            const base = new Airtable({ apiKey: process.env.GRIDSOME_AIRTABLE_API_KEY }).base(
                process.env.GRIDSOME_AIRTABLE_BASE_ID
            )

            const records = await base('Book')
                .select({
                    sort: [{ field: 'List' }]
                })
                .all()

            let newData = []

            const data = await records.forEach(function (record, index) {
                newData.push({
                    book_id: index,
                    book_name: record.get('Book Name'),
                    author_name: record.get('Author Name'),
                    book_image: record.get('Image')[0].thumbnails.large.url
                })
            })

            sessionStorage.setItem('books', JSON.stringify(newData))

            this.loading = false

            return newData
        }
    },
    async mounted() {
        this.items = await this.getBooks()

        this.loading = false
    }
}
</script>

<style lang="scss" scoped>
.page-title {
    margin-bottom: 2rem;
    font-family: 'Rubik-Medium', serif;
    font-size: 1.2rem;

    &:not(:last-child) {
        margin-top: 3rem;
    }
}

ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(158px, 1fr));
    grid-gap: 20px;
    overflow: hidden;

    @media (max-width: 768px) {
        grid-template-columns: repeat(auto-fit, minmax(128px, 1fr));
        grid-gap: 10px;
    }

    li {
        display: flex;
        flex-direction: column;
        border-radius: 20px;

        &:hover {
            span {
                color: #a6a4ce;

                &:not(:last-child) {
                    color: #ffd15c;
                }
            }
        }

        img {
            display: block;
            width: 100%;
            max-height: 225px;
            margin-bottom: 1rem;
            border-radius: 8px;
        }

        span {
            display: flex;
            font-size: 0.9rem;
            color: #8b88b1;

            &:not(:last-child) {
                margin-bottom: 10px;
                font-family: 'Rubik-Medium', serif;
                font-size: 1.1rem;
                color: inherit;
            }
        }
    }
}
</style>
