<template>
    <Layout>
        <section class="content">
            <div class="container">
                <h2 class="title">Projeler</h2>
            </div>
        </section>
    </Layout>
</template>

<script>
export default {
    metaInfo: {
        title: 'Projeler',
        meta: [
            {
                name: 'description',
                content: 'Projeler sayfası.'
            }
        ]
    }
}
</script>
