<template>
    <Layout>
        <section class="content">
            <div class="container">
                <h2 class="title">Teknolojiler</h2>
                <p class="info">
                    Meslek hayatım boyunca kullandığım, öğrenmeye çalıştığım birçok teknoloji ve araçları bu sayfada
                    görebilirsin. Bu listede yer almayan ama kendi gelişimim için üzerinde çalıştığım, yeteri kadar
                    tecrübe kazanmadığım bazı teknolojiler halen mevcut. Yeni bilgiler edindikçe bu ve buna benzer
                    teknolojileri uygulayarak açık kaynak olarak paylaşacağım ve aynı zamanda bu listeyi
                    güncelleyeceğim.
                    <a href="https://stackshare.io/yunusemremert" target="_blank">@Stackshare</a>
                </p>
                <div class="page-title">Editörler</div>
                <ul>
                    <li><SublimeText /><a>Sublime Text</a></li>
                    <li><Webstorm /><a>Webstorm</a></li>
                    <li><PhpStorm /><a>PhpStorm</a></li>
                    <li><VSCode /><a>VS Code</a></li>
                </ul>
                <div class="page-title">Arka-yüz (Back-end)</div>
                <ul>
                    <li><Codeigniter /><a>Codeigniter</a></li>
                    <li><Laravel /><a>Laravel</a></li>
                    <li><Symfony /><a>Symfony</a></li>
                    <li><Nest /><a>Nest</a></li>
                </ul>
                <div class="page-title">Ön-yüz (Front-end)</div>
                <ul>
                    <li><Vue /><a>Vue</a></li>
                    <li><React /><a>React</a></li>
                    <li><Next /><a>Next</a></li>
                    <li><Gridsome /><a>Gridsome</a></li>
                    <li><Gatsby /><a>Gatsby</a></li>
                </ul>
                <div class="page-title">Mobil</div>
                <ul>
                    <li><React /><a>React Native</a></li>
                </ul>
                <div class="page-title">Veritabanı</div>
                <ul>
                    <li><MySQL /><a>MySQL</a></li>
                </ul>
                <div class="page-title">Versiyon Kontrol (VCS)</div>
                <ul>
                    <li><Github /><a>Github</a></li>
                    <li><Gitlab /><a>Gitlab</a></li>
                </ul>
                <div class="page-title">Araçlar</div>
                <ul>
                    <li><Sourcetree /><a>Sourcetree</a></li>
                    <li><Docker /><a>Docker</a></li>
                    <li><Photoshop /><a>Photoshop</a></li>
                    <li><RabbitMQ /><a>RabbitMQ</a></li>
                    <li><Postman /><a>Postman</a></li>
                    <li><Jenkins /><a>Jenkins</a></li>
                </ul>
            </div>
        </section>
    </Layout>
</template>

<static-query>
query {
  metadata {
    siteUrl
  }
}
</static-query>

<script>
import SublimeText from '~/assets/icons/technologies/sublimetext.svg'
import Webstorm from '~/assets/icons/technologies/webstorm.svg'
import PhpStorm from '~/assets/icons/technologies/phpstorm.svg'
import VSCode from '~/assets/icons/technologies/vscode.svg'

import Codeigniter from '~/assets/icons/technologies/codeigniter.svg'
import Laravel from '~/assets/icons/technologies/laravel.svg'
import Symfony from '~/assets/icons/technologies/symfony.svg'
import Nest from '~/assets/icons/technologies/nest.svg'

import Vue from '~/assets/icons/technologies/vue.svg'
import React from '~/assets/icons/technologies/react.svg'
import Next from '~/assets/icons/technologies/next.svg'
import Gridsome from '~/assets/icons/technologies/gridsome.svg'
import Gatsby from '~/assets/icons/technologies/gatsby.svg'

import MySQL from '~/assets/icons/technologies/mysql.svg'

import Github from '~/assets/icons/social/github.svg'
import Gitlab from '~/assets/icons/social/gitlab.svg'

import Sourcetree from '~/assets/icons/technologies/sourcetree.svg'
import Docker from '~/assets/icons/technologies/docker.svg'
import Photoshop from '~/assets/icons/technologies/photoshop.svg'
import RabbitMQ from '~/assets/icons/technologies/rabbitmq.svg'
import Postman from '~/assets/icons/technologies/postman.svg'
import Jenkins from '~/assets/icons/technologies/jenkins.svg'

const title = 'Teknolojiler'
const description =
    'Meslek hayatı boyunca kullandığı, öğrenmeye çalıştığı ve öğrenme listesine aldığı teknoloji yığınları ve araçları. Back-end olarak Symfony ve Laravel, front-end olarak Vue ve React ağırlıklı çalışıyor.'

export default {
    metaInfo() {
        return {
            title: title,
            meta: [
                {
                    property: 'og:title',
                    content: title
                },
                {
                    property: 'og:description',
                    content: description
                },
                {
                    property: 'og:url',
                    content: this.$static.metadata.siteUrl + '/teknolojiler/'
                },
                {
                    name: 'twitter:title',
                    content: title
                },
                {
                    name: 'twitter:description',
                    content: description
                },
                {
                    name: 'title',
                    content: title
                },
                {
                    name: 'description',
                    content: description
                },
                {
                    itemprop: 'name',
                    content: title
                },
                {
                    itemprop: 'description',
                    content: description
                }
            ]
        }
    },
    components: {
        SublimeText,
        Webstorm,
        PhpStorm,
        VSCode,
        Codeigniter,
        Laravel,
        Symfony,
        Nest,
        Vue,
        React,
        Next,
        Gridsome,
        Gatsby,
        MySQL,
        Github,
        Gitlab,
        Sourcetree,
        Docker,
        Photoshop,
        RabbitMQ,
        Postman,
        Jenkins
    }
}
</script>

<style lang="scss" scoped>
.info {
    margin-bottom: 3rem;

    a {
        color: #ffd15c;
    }
}

.page-title {
    margin-bottom: 2rem;
    font-family: 'Rubik-Medium', serif;
    font-size: 1.2rem;
}

ul {
    display: flex;
    overflow-x: scroll;

    li {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 150px;
        margin-bottom: 3rem;
        white-space: nowrap;
        padding: 30px;
        background-color: #302f4e;
        border-radius: 20px;
        -webkit-box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
        box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);

        &:hover {
            svg {
                fill: #ffd15c;
            }

            a {
                color: #a6a4ce;
            }
        }

        &:not(:last-child) {
            margin-right: 3rem;

            @media (max-width: 768px) {
                margin-right: 2rem;
            }
        }

        svg {
            height: 60px;
            margin-bottom: 1rem;
            fill: #9c9ab3;
        }

        a {
            color: #8b88b1;
        }
    }
}
</style>
