<template>
    <div class="container">
        <footer>
            <div class="info">
                I love&nbsp; ❤️ &nbsp;coding with <span>{ JS }</span> and <span>{{ php }}</span>
            </div>
            <div class="copyright">© {{ year.getFullYear() }}, <strong>{{ $static.metadata.siteName }}</strong>.</div>
            <div class="tech"><Gridsome /><Vercel /></div>
        </footer>
    </div>
</template>

<static-query>
query {
  metadata {
    siteName
  }
}
</static-query>

<script>
import Gridsome from '~/assets/icons/technologies/gridsome.svg'
import Vercel from '~/assets/icons/technologies/vercel.svg'

export default {
    data: () => ({
        php : "<?php ?>",
        year: new Date()
    }),
    components: {
        Gridsome,
        Vercel
    }
}
</script>

<style lang="scss" scoped>
.container {
    margin-bottom: 20px;

    footer {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media only screen and (max-width: 768px) {
            display: block;
            text-align: center;

            .info {
                margin-bottom: 3px;
            }

            .copyright {
                margin-bottom: 1rem;
            }
        }

        .info {
            span {
                color: #ffd15c;
            }
        }

        .copyright {
            font-family: 'Rubik-Light', serif;
            font-size: 13px;
            color: #9C9AB3;

            span {
                color: #ff4c60;
            }
        }

        .tech {
            display: flex;
            justify-content: center;

            svg {
                height: 18px;
                fill: #9C9AB3;
                -webkit-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;

                &:not(:last-child) {
                    margin-right: 1rem;
                }

                &:hover {
                    fill: #ffd15c;
                }
            }
        }
    }
}
</style>
