<template>
    <header class="header fixed-top">
        <div class="container">
            <nav class="navbar">
                <g-link class="navbar-brand" to="/">
                    <g-image src="~/assets/logo.svg" width="200" :alt="$static.metadata.siteName + ' logo'" />
                </g-link>
                <button class="navbar-toggler" v-on:click="openMenu">
                    <div></div>
                    <div></div>
                    <div></div>
                </button>
                <div class="navbar-collapse" v-bind:class="{ active: show }">
                    <g-link class="nav-link" to="/hakkimda/">Hakkımda</g-link>
                    <g-link class="nav-link" to="/deneyimler/">Deneyimler</g-link>
                    <g-link class="nav-link" to="/calismalar/">Çalışmalar</g-link>
                    <g-link class="nav-link" to="/hizmetler/">Hizmetler</g-link>
                    <!--<g-link class="nav-link" to="/projeler/">Projeler</g-link>-->
                    <!--<g-link class="nav-link" to="/blog/">Blog</g-link>-->
                    <g-link class="nav-link" to="/teknolojiler/">Teknolojiler</g-link>
                    <g-link class="nav-link" to="/kitaplar/">Kitaplar</g-link>
                    <g-link class="nav-link" to="/iletisim/">İletişim</g-link>
                </div>
            </nav>
        </div>
    </header>
</template>

<static-query>
query {
  metadata {
    siteName
  }
}
</static-query>

<script>
export default {
    data: () => ({
        show: false
    }),
    methods: {
        openMenu() {
            this.show = !this.show
        }
    }
}
</script>

<style lang="scss" scoped>
.header {
    background: #353353;
    padding: 20px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        &-brand {
            display: flex;
            margin-right: 1rem;

            @media (min-width: 921px) and (max-width: 1366px) {
                width: 100%;
                justify-content: center;
                margin-bottom: 1.5rem;
                margin-right: 0;
            }
        }

        &-collapse {
            display: flex;
            justify-content: space-between;

            .nav-link {
                font-family: 'Rubik-Medium', serif;
                -webkit-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;

                &:not(:last-child) {
                    padding-right: 2rem;
                }

                &.active,
                &:hover {
                    color: #ffd15c;
                }
            }

            &.active {
                display: inherit;
            }

            @media (min-width: 921px) and (max-width: 1366px) {
                width: 100%;
            }

            @media (max-width: 920px) {
                display: none;
                flex-direction: column;
                flex-basis: 100%;
                margin-top: 10px;

                .nav-link {
                    padding: 5px 0;
                }
            }
        }

        &-toggler {
            display: none;
            padding: 0.25rem 0.75rem;
            font-size: 1.25rem;
            line-height: 1;
            border: 1px solid rgba(255, 255, 255, 0.1);
            border-radius: 0.25rem;
            -webkit-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;

            div {
                width: 100%;
                min-width: 20px;
                height: 2px;
                margin: 5px 0;
                background-color: rgba(255, 255, 255, 0.5);
                -webkit-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
            }

            &:hover {
                border: 1px solid rgba(255, 255, 255, 0.3);

                div {
                    background-color: rgba(255, 255, 255, 0.7);
                }

                &-collapse {
                    display: block;
                }
            }

            @media (max-width: 920px) {
                display: block;
            }
        }
    }
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
</style>
