<template>
    <div>
        <Preloader />
        <Header />
        <slot />
        <Footer />
    </div>
</template>

<script>
import Preloader from '~/components/Preloader.vue'

import Header from '~/components/Header.vue'
import Footer from '~/components/Footer.vue'

export default {
    components: {
        Preloader,
        Header,
        Footer
    }
}
</script>
